body{
    margin-top: 150px!important;
}

#finalizarcar{
    user-select: none;
}

.headertienda{
    user-select: none;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    background: whitesmoke;
    border: solid 2px rgba(245,245,245,0.3);
    box-shadow: 0px 20px 30px -10px rgba(0,0,0,0.2);
}

#cliente_vista{
    margin-top: 0px!important;
}

.icons{font-size: 20px;cursor: pointer;}

.stocko{color: #aa1a18;}

.agotado{
        background: #aa1a18;
    color: white;
    padding: 3px 10px;
}

.cajisreser{    background: #fefefe;
    padding: 10px 20px;
    border: solid 2px #ebebeb;}

.producasis{background: #469eac;
    color: white;
    margin-top: 15px;
    padding: 10px;}

.logii{font-size: 23px;
    color: #043841;
    font-weight: 700;
    margin-bottom: 33px;
    border-bottom: 3px solid #7599e7;}

    .carpro{ background: #626262;
    position: fixed;
    padding: 5px 10px;
    bottom: 58px;
    right: 15px;
    color: white;  }

    .tamcar{width: 55px;height: 55px;}

.colorbody{
    background-image: radial-gradient(circle at 50% -20.71%, #faffff 0, #d8f0fa33 25%, #b5def21c 50%, #92cbeb4d 75%, #72b9e538 100%);
    }

.btningre{width: 100%;
    font-size: 18px;}

.inpute{height: 50px;
    font-size: 27px !important;}
    .temp{font-size: 20px;}
.vcol{    
	background: #09adaa;
    padding: 5px 18px;
    font-size: 28px;
}

.btnabono{
    padding: 5px 15px;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
}

.btnabono.mobile{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    border-radius: 25px;
    cursor: pointer;
    padding: 5px 10px;
    margin-right: 5px;
}

.titulsa.mobile{
    margin-right: 5px;
}

.top00{    margin-top: 0px;
    padding-top: 0px;
}
 
.btnfinalpago{
    background: #408bae;
    color: white;
    font-size: 17px;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}

.btnfinalpago:hover{
       background: #09adaa;
    color: white;
    font-size: 17px;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}

.btncli{position: absolute;
    top: 0px;
    padding: 6px 15px;
    color: white;
    cursor: pointer;
    background: #7a97cc;
    right: 0px;}

.contcliente{position: relative;}

.btn-link {
    font-weight: 400;
    color: #8a8a8a;
    text-decoration: none;
}

.btn-link:hover {
    color: #8a8a8a;
    text-decoration: none;
}

.card-header {
    padding: 5px;
    margin-bottom: 0;
    background-color: #eaecf4;
    border-bottom: 1px solid #d8d8d8;
}


.contcosto{   
    position: absolute;
    top: 10px;
    width: 45px;
    height: 45px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    font-weight: 700;
    padding: 5px;
    border-radius: 100%;
    right: 20px;
    color: #00294d;
    background: #ffb517;}

.contnuevo{    font-size: 30px;
    color: #bebebe;
    margin-bottom: 10px;}
.contavanta{background: #ebebeb;
    text-align: center;
    padding: 20px 0px;
    color: #c2c2c2;}
.cbla{color: #fff;font-size: 28px;}
.navbar {
    padding: 0px;
}
.btnnetxcarriscompra{
    padding: 8px 16px;
    position: relative;
    font-size: 18px;
    border-radius: 25px;
}
.nombtet{    
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
.headercont1contw{    
	background: #eaecf4;
    margin-right: -24px;
}

img{max-width: 100%;}

.headercont1productos {
    user-select: none;
    background: whitesmoke;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px;
}

.btncarris{
    width: 100%;
    padding: 4px;
    margin-top: 5px;
    font-size: 14px;
    cursor: pointer;}


.btncarris:hover{
	width: 100%;
    padding: 4px;
    margin-top: 5px;
    font-size: 14px;
    cursor: pointer;
}

.quantity__minus{
   background: #09adaa;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    height: 10px;
    padding: 0px 10px;
    cursor: pointer;
}


.rayisbajo{}

.rem{   
    background: #00294d;
    padding: 0px 10px;
    color: white;
    cursor: pointer;
    border-radius: 25%;
}

.inputtext{
    padding: 0px 15px;}
.contenbtns{margin: 10px 10px auto;
    text-align: center;}
.menus{font-size: 18px;cursor: pointer;}
.inputdel{width: 30px;
    border: solid 1px #d8d8d8;
    text-align: center}

    .inputdel2{    width: 50px;
    border: solid 1px #d8d8d8;
    text-align: center;
    font-size: 15px;}

.pad50{padding-bottom: 20px;}

.botonbtncont{          position: relative;
    width: 100%;
    margin-top: 25px;margin-bottom: 20px;}
.btnnetxpago{background: #11aeaa;
    padding: 22px;position: relative;
    color: #fff;
    font-size: 25px;}
    .error{background: #aa1a18;
    text-align: center;
    border-radius: 6px;
    color: white;
    padding: 10px;font-size: 19px;width: 100%;
    margin-bottom: 10px;}

    .btn-outline-secondary:hover {
    color: #fff;
    background-color: #7790e0;
    border-color: #dcdcdc;
}

.btn-outline-secondary {
    color: #353535;
    background-color: #dcdcdc;
    border-color: #b3b3b3;
}
    .botonerabajo{
        position: fixed;
        bottom: 0px;
        width: 100%;
        padding: 10px 0px;
        left: 0px;
        text-align: center;
        background: whitesmoke;
        border: solid 2px rgba(245,245,245,0.3);
        box-shadow: 0px -20px 40px -20px rgba(0,0,0,0.2);
    }
    

    #reservadoexito{color: #23c774;
    font-size: 21px;
    margin-bottom: 15px;}
    #reservadonoexito{color: #aa1a18;
    font-size: 21px;
    margin-bottom: 15px;}

    #resersinstock{color: #aa1a18;
    font-size: 21px;
    margin-bottom: 15px;}

  .btnnetxcarris{
    padding: 8px 16px;
    position: relative;
    font-size: 18px;
    border-radius: 25px;
}

.azulin{color: #09adaa;font-weight: 800;font-size: 20px;}

.subtotalcont{width: 100%;}
.hrpago{height: 5px;
    background: #e6e6e6;
    margin-top: 5px;
    border: none;}

.carritoenty{    width: 34%;
    opacity: .1;}

.borderform{border-radius: 20px;
    height: 51px;
    font-size: 35px;
    background: #eceff1;
    text-align: center;}

.codigobar{max-width: 80%;margin: 0px auto;}

.carritobar{max-width: 100%;margin: 0px auto;text-align: center;}

.bold{font-weight: 700;font-size: 20px;}


.btnbotn{  
    user-select: none;  
    display: inline-block;
    padding: 6px 15px;
    cursor: pointer;
    background: #00294d;
    border-radius: 10px;
    color: white;}

    .btnbotncar{   
    display: inline-block;}

.btnbotn2{    display: inline-block;
    padding: 10px;
    cursor: pointer;
    color: #8a8a8a;
    background: #eaecf4;}

    .btnbotn2:hover{display: inline-block;
    
    cursor: pointer;
    background: #fff;
    color: #3d3d3d;}

    .btnbotn2:hover{display: inline-block;
    
    cursor: pointer;
    background: #fff;
    color: #3d3d3d;}

    
  .activecar{display: inline-block;
    
    cursor: pointer;
    background: #fff;
    color: #3d3d3d;}

    .btnbotn:hover{    
    display: inline-block;
    padding: 6px 15px;
    background: #ffb517;
    border-radius: 10px;
    color: #00294d ;}

    .activecar2{
        font-weight: 700;
    display: inline-block;
    padding: 6px 15px;
    background: #ffb517;
    color: #00294d;}

.btnilera{
    display: inline-block;
}

.headercont1productos::-webkit-scrollbar {
       width: 15px;
    height: 8px;
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.headercont1productos::-webkit-scrollbar-thumb {
   background: #c0c0c0;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.headercont1productos::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.headercont1productos::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
.headercont1productos::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
.headercont1productos::-webkit-scrollbar-track:hover,
.headercont1productos::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}







.contcaja{}
.seleccioncajis {
    border: solid 1px #ededed;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.selectcajis{background: #f8f8f8;}

.seleccioncajis:hover {
    background: #f8f8f8;
}

.vselect{        
    display: block;
    border: solid 1px #a6677791;
    margin-left: 10px;
    padding: 0px 10px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.coloprove {
        background-color: #dfdfff !important;
}


.totales{border: solid #d7d7d7 1px;
    padding: 10px;}
    .sidebar-dark #sidebarToggle {
    background-color: rgb(132 44 66) !important;
}

.bold2{font-weight: 600;}

.bold3{font-weight: 700;
    font-size: 24px;}

.co{color: #3d3d3d;}

input[type=textfield] {
     width: 94%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 22px;
    border: 1px solid #0ac7c3;
    border-radius: 1px;
    text-align: left;
    color: #333;
    background: #f7f7f7;
}
input[type=button], input[type=submit], input[type=reset] {
   background-color: #70c1c0;
    border: none;
    color: white;
    padding: 6px;
    font-size: 22px;
    min-width: 22%;
    margin: 4px 2px;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
  background-color: #0ac7c3;
}

.close{position: absolute;
    right: 0px;
    top: -37px;
    height: 35px;
    width: 35px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    line-height: 36px;
    box-shadow: 1px 2px 16px #0000007d;
    font-size: 25px;
    z-index: 9999;}

.botonitos{
    cursor: pointer;
    color: #ad8a70;
    font-size: 29px;
}

.headercli{
    z-index: 3;
    margin-bottom: 0!important;
    background: #00294d;
    height: 95px;
    padding: 20px 15px;
    color: #ffb517;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 0px 2px 15px 0px rgb(0 0 0 / 30%);
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
}

.bntcer{
    font-size: 18px;
    padding: 5px 15px;
    margin: 0px 5px;
    border-radius: 25px; 
}

.nohayregistros{text-align: center;width: 100%;}

.btn-link:hover {
    color: #676767;
    text-decoration: none;
}

.titulsa{
    font-size: 20px;
    user-select: none;
}
.btn-link {
    color: #676767;
    text-decoration: none;
}

.col-5{
    display: flex!important;
    align-items: center!important;}

.col-6.text-right{
    display: flex!important;
    align-items: center!important;
    justify-content: right;
}

.cotine{background: #ffffff;
    padding: 10px;
    font-size: 21px;
    color: #7b7b7b;
    border: solid 1px #d8d8d8;
    border-radius: 5px;}

    .inputxe{width: 255px;padding-left: 10px;
    height: 38px;
    border: solid 1px #dadada;
    border-radius: 5px;}

.headerlogo{
    position: fixed!important;
    top: 15px;
    bottom: auto;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
}

.headerlogo img{
    max-width: 120px;
    height: auto;
}

#elecciondemetodo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: calc(100vh - 215px);
}

#elecciondemetodo .mt-3{
    display: flex;
}

.seleccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.seleccion img{
    margin-bottom: 10px;
}

.mb-0.msg br{
    display: none!important;
}

.col-6.col-lg-3.mb-3.ng-scope{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.btnproductos {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;
    user-select: none;
    text-align: center;
    background: white;
    border: solid 2px rgba(245,245,245,0.3);
    border-radius: 20px;
    box-shadow: 0px 20px 40px -20px rgb(0 0 0 / 20%);
    padding: 20px;
}

.btnproductos img{
    aspect-ratio:  1 / 1;
}

.nombtet.ng-binding{
    flex-grow: 1!important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
    
    @media screen and (max-width: 1350px){
        .bntcer{
            font-size: 14px!important;
        }
        .btnabono{
            font-size: 14px!important;
        }
    }

    @media screen and (max-width: 820px){

        .navbar{
            justify-content: space-evenly!important;
        }

        .btnabono{
            padding: 5px 15px;
            border-radius: 25px;
            font-size: 16px;
            cursor: pointer;
        }

        .btnproductos {
            padding: 10px 5px;
        }

        .headercont1productos {
            background: white;
            overflow-y: hidden;
            height: auto !important;
            overflow-x: auto;
            padding: 20px;
        }

        .btnilera{
            display: flex;
            align-items: baseline;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        
        .mb-0.msg br{
            display: block!important;
        }

        .headerlogo img{
            width: 80px;
            height: auto;
        }
        .headerlogo{
            top: 40px;
        }
        .titulsa{font-size: 18px;}
        .headercli {
                padding: 8px 8px;
            }
            .text-left{text-align: center !important; }
            .iconw{display: block;}
            .pad2 {
                padding: 0px 10px;
            }
            .bntcer {
            padding: 5px 15px;
            font-size: 14px;
        }
        .desplegable{
            display: flex!important;
            align-items: center!important;
            justify-content: right;
        } 
        .col-6.text-right{
            display: none!important;
        }
    }