.tam1{width: 60%;
    margin: 0px auto;}

    .tam2{width: 80%;
    margin: 0px auto;}
     .tam3{width: 100%;
    margin: 0px auto;}

    .text-primary {
    color: #aa1a18 !important;
}
 


.lisico{font-size: 67px;
    color: #5fbe75;}

    #nohay{    background: #b62727a3;
    color: white;
    padding: 6px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;}

.nuvocliente{    font-size: 15px;
    margin-top: 10px;
    line-height: 15px;}

    .nuaqui{cursor: pointer;cursor: pointer;
    color: #aa1a18;}

.rrow:hover{background: #f1f1f1;}

.rrow{display: inline-block;width: 100%;border: solid 1px #b3b3b3; padding: 5px;cursor: pointer;text-align: center;}
.carrits{width: 20px; }
.input-group-text {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    text-align: center;
    white-space: nowrap;
    background-color: #fff3f3;
    border: 1px solid #fff3f3;
    border-radius: .35rem;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #aa1a18 !important;
    border-color: #aa1a18 !important;
}

.btn-primary {
    color: #fff;
    background-color: #aa1a18;
    border-color: #aa1a18;
}

.btn-primary:hover {
    color: #fff;
    background-color: #790d0b;
    border-color: #790d0b;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    color: white;
    background-color: #fff3f3;
    border-bottom: 1px solid #aa1a18;
}

.rojis{padding: 0px 15px;
    color: #aa1a18;}