body{
    margin-top: 150px!important;
}

.headercli{
    z-index: 3;
    background: #00294d;
    height: 95px;
    padding: 20px 15px;
    color: #ffb517;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 0px 2px 15px 0px rgb(0 0 0 / 30%);
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
}

.iconw{
    margin: 5px;
}

.ttulcaja{    color: #3d3d3d;
    font-size: 27px;
    padding: 0px 0px 0px 0px;}

    .mont{font-size: 25px;}

.bodycaja{font-size: 36px;
    color: #3d3d3d;}

    .btnfinalpago{
    background: #1c4587;
    color: white;
    font-size: 17px;
    display: inline-block;
    border-radius: 31px;
    padding: 10px 54px;
    cursor: pointer;
}

.btnfinalpago:hover{
      background: #1c4587;
    color: white;
    font-size: 17px;
    display: inline-block;
    border-radius: 31px;
    padding: 10px 54px;
    cursor: pointer;
}

.wrroa{background: #d36262;
    color: white;
    padding: 10px;
    border-radius: 12px;}

.otonffoteram{background: transparent;color: #00294d;border: none; box-shadow: none;}
.otonffoteram:hover{background: transparent;color: #00294d;border: none;text-decoration: underline; box-shadow: none;}
.otonffoteram.btn-outline-primary:focus, .otonffoteram.btn-outline-primary.focus {
  box-shadow: none;
}
.ottonffoteram.btn-outline-primary:focus:hover{
  box-shadow: none;
}
.btn.btn-outline-primary.otonffoteram:not(:disabled):not(.disabled):active, .btn.btn-outline-primary.otonffoteram:not(:disabled):not(.disabled).active,
.show > .btn.btn-outline-primary.otonffoteram.dropdown-toggle {
  color: #003e74;
  text-decoration: underline;
  background-color: transparent;
  border-color: transparent;

}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: none!important;
}



.tip2{margin-top: 18px;}

.topmt{ margin-top: 20px;}

   .number11{width: 100%;
    font-size: 18px;
    border: solid 2px silver;
    height: 41px;
    text-align: center;
}

   .userselc{font-size: 18px;margin-bottom: 15px;}

    .recarbtn{   
    font-size: 18px;
    padding: 7px 25px;
    border-radius: 25px;}

   .otonffoter{padding: 10px;
    background: rgb(233,6,144);
    background: linear-gradient(
25deg
, rgba(233,6,144,0.8267682072829132) 35%, rgba(250,7,195,1) 100%);
    margin-top: 15px;
    font-size: 21px;
    color: white; cursor: pointer;}

    .fondis1{
    background-image: radial-gradient(circle at 50% -20.71%, #faffff 0, #d8f0fa33 25%, #b5def21c 50%, #92cbeb4d 75%, #72b9e538 100%);

}
.fondis2 {
    background-image: radial-gradient(circle at 50% -20.71%, #b8efef 0, #00a8ef33 25%, #0baafc1c 50%, #039df44d 75%, #0995ec38 100%);
}

    .seccionh{
        user-select: none;     
    text-align: center;
    background: white;
    border: solid 2px rgba(245,245,245,0.3);
    border-radius: 20px;
    box-shadow: 0px 20px 40px -20px rgba(0,0,0,0.2);
    padding: 20px;
    max-width: 400px;
    margin: 0px auto;
    font-size: 18px;}

    .error{background: #aa1a18;
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 19px;}


 .cardvcajs{
    user-select: none;     
    text-align: center;
    background: white;
    border: solid 2px rgba(245,245,245,0.3);
    border-radius: 20px;
    box-shadow: 0px 20px 40px -20px rgba(0,0,0,0.2);
    padding: 20px;
}

    .card-header {
    padding: 5px;
    margin-bottom: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #efefef;
}

.bntcer{
    font-size: 18px;
    padding: 5px 15px;
    margin: 0px 5px;
    border-radius: 25px; 
}

.nohayregistros{text-align: center;width: 100%;}

.btn-link:hover {
    color: #676767;
    text-decoration: none;
}

.titulsa{font-size: 20px;
user-select: none;}
.btn-link {
    color: #676767;
    text-decoration: none;
}

.col-5{
    display: flex!important;
    align-items: center!important;}

.col-6{
    display: flex!important;
    align-items: center!important;
    justify-content: right;
}

.cotine{background: #ffffff;
    padding: 10px;
    font-size: 21px;
    color: #7b7b7b;
    border: solid 1px #d8d8d8;
    border-radius: 5px;}

    .inputxe{width: 255px;padding-left: 10px;
    height: 38px;
    border: solid 1px #dadada;
    border-radius: 5px;}

.headerlogo{
    position: fixed!important;
    top: 15px;
    bottom: auto;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
}

.headerlogo img{
    max-width: 120px;
    height: auto;
}

#elecciondemetodo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: calc(100vh - 215px);
}

#elecciondemetodo .mt-3{
    display: flex;
}

.seleccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.seleccion img{
    margin-bottom: 10px;
}

    @media screen and (max-width: 820px){
        .headerlogo img{
            max-width: 80px;
            height: auto;
        }
        .titulsa{font-size: 18px;}
        .headercli {
                padding: 8px 8px;
            }
        .headerlogo{
            top: 40px;
        }
            .text-left{text-align: center !important; }
            .iconw{display: block;}
            .pad2 {
                padding: 0px 10px;
            }
            .bntcer {
            padding: 5px 15px;
            font-size: 14px;
        }
        .desplegable{
            display: flex!important;
            align-items: center!important;
            justify-content: right;
        } 
        .col-6{
            display: none!important;
        }
    }