    .headermodal{    padding: 10px 20px;
    border-bottom: 1px #d7d7d7 solid;}

    .subacts{display: inline-block;
    border: #d1cfd0 solid 1px;
    width: auto;
    padding: 2px 4px 2px 15px;}
    .contsubde{}

    .botonescard {
        right: 3px;
        top: 3px;
        position: absolute;
    }

    .contproduct{background: #f4f4f4;
    padding: 10px;}

    .cantigen{padding: 0px;
    width: 50px;
    border: solid 1px #c6c6c6;
    height: 22px;
    text-align: center;}

    .thead-dark{background: red;}

    .colortablis{background: #fff6f8;border: none;}

    .tamle{color: #3d3d3d !important;
    font-size: 20px;}

    .circle12{
        width: 25px;
        height: 25px;
        color: white;
        background: #f2c8b0;
    }


    .botonescard2{right: 10px;
        bottom: 10px;
        position: absolute;}


            .videocont{background: #f7f7f7;
    padding: 10px 10px;
    margin-bottom: 30px;}

    .videocont img{min-width: 100%;max-width: 100%;}

            input#archivo1{
              color: transparent;
              background: transparent;
            }
            input#archivo2{
              color: transparent;
              background: transparent;
            }
            input#archivo3{
              color: transparent;
              background: transparent;
            }
            input#archivo4{
              color: transparent;
              background: transparent;
            }


 .terminover{background: #842c42;
    padding: 20px 20px;
    color: white;}

 .clentesbox {
    background: white;
    color: #885252 !important;
}

  .text-white {
    color: #9f9f9f!important;
    font-weight: 700;
}


  .cont_atras{padding: 20px 20px;
    background: #f9f9f9;}

   .coloprove3 {
    background-color: #d3ffd5 !important;
}

    .registros{
    	background-color: #842c42b8;
    color: white;
    margin-bottom: 15px;
    padding: 5px 10px;}

    label {
    display: inline-block;
   margin-bottom: 2px !important;
}

.btnguarda{position: absolute;
    right: 25px;
    border-radius: 7px;
    color: #c7798d;}

.form-group {
    margin-bottom: 10px !important;
}

a {
    color: #737373;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
}
.cajitaopciones{    
  width: 100%;
    display: inline-block;
    padding: 10px;
    min-height: 35px;
    border: solid 1px #bbbbbb;
}

.contcaja{}
.seleccioncajis {
    border: solid 1px #ededed;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.selectcajis{background: #f8f8f8;}

.seleccioncajis:hover {
    background: #f8f8f8;
}

.vselect{        
    display: block;
    border: solid 1px #a6677791;
    margin-left: 10px;
    padding: 0px 10px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.coloprove {
        background-color: #dfdfff !important;
}


.totales{border: solid #d7d7d7 1px;
    padding: 10px;}
    .sidebar-dark #sidebarToggle {
    background-color: rgb(132 44 66) !important;
}


#page-top{padding-top: 0px !important;}

html body {
    overflow-y: scroll !important;
    padding-top: 0px !important;
}

input[type=textfield] {
    width: 100%;
    padding: 5PX;
    font-size: 22px;
    border: 1px solid #e0e0e0;
    border-radius: 1px;
    text-align: left;
    color: #333;
    background: #f7f7f7;
}
input[type=button], input[type=submit], input[type=reset] {
   background-color: #842c42;
    border: none;
    color: white;
    padding: 6px;
    font-size: 22px;
    min-width: 22%;
    margin: 4px 2px;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
  background-color: #842c427d;
}

.close{position: absolute;
    right: 0px;
    top: -37px;
    height: 35px;
    width: 35px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    line-height: 36px;
    box-shadow: 1px 2px 16px #0000007d;
    font-size: 25px;
    z-index: 9999;}

.botonitos{
    cursor: pointer;
    color: #ad8a70;
    font-size: 29px;
}