.headertienda{background: #021A31;
    padding: 5px;
    color: #fff;}

.icons{font-size: 20px;cursor: pointer;}

.constock{font-size: 12px;}

.vcol{    
	background: #FEB514;
    padding: 5px 18px;
    font-size: 28px;
}

.erri{    background: #b85a58;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;}

.cajisreser{background: #f4f4f4;padding: 10px 20px;cursor: pointer;}

.cajisreser:hover{background: #7a97cc;padding: 10px 20px;cursor: pointer;color: #fff;}

.reserelegido{background: #7a97cc;padding: 10px 20px;cursor: pointer;color: #fff;}

.stocko{color: #aa1a18;}

.agotado{
        background: #aa1a18;
    color: white;
    padding: 3px 10px;
}

 
.btnfinalpago{
    font-size: 18px;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
}

.btnfinalpago:hover{
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
}

.btncli{position: absolute;
    top: 0px;
    padding: 6px 15px;
    color: white;
    cursor: pointer;
    background: #7a97cc;
    right: 0px;}

.contcliente{position: relative;}

.btn-link {
    font-weight: 400;
    color: #8a8a8a;
    text-decoration: none !important;
}

.btn-link:hover {
    color: #8a8a8a;
    text-decoration: none;
}

.card-header {
    padding: 5px;
    margin-bottom: 0;
    background-color: #eaecf4;
    border-bottom: 1px solid #d8d8d8;
}


.contcosto{       
    position: absolute;
    top: 10px;
    height: 39px;
    font-size: 12px;
    width: 39px;
    line-height: 41px;
    text-align: center;
    border-radius: 100%;
    right: 18px;
    color: white;
    background: #FEB514
}

.contnuevo{    font-size: 30px;
    color: #bebebe;
    margin-bottom: 10px;}
.contavanta{background: #ebebeb;
    text-align: center;
    padding: 20px 0px;
    color: #c2c2c2;}
.cbla{color: #fff;font-size: 28px;}
.navbar {
    padding: 0px;
}
.nombtet{    
    text-align: center;
    font-size: 17px;
    line-height: 19px;
    margin-top: 7px;
    font-weight: 700;
    }

.headercont1contw{    
	background: #eaecf4;
    margin-right: -24px;
}

img{max-width: 100%;}

.headercont1productos {
    background: #fbfbfb;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px;
}

.btncarris{width: 100%;
    padding: 4px;
    margin-top: 5px;
    font-size: 14px;cursor: pointer;
    border: solid 1px #d2d2d2;}


.btncarris:hover{
	width: 100%;
    padding: 4px;
    margin-top: 5px;
    font-size: 14px;
    background: #f7f7f7;
    cursor: pointer;
}

.quantity__minus{
   background: #FEB514;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    height: 10px;
    padding: 0px 10px;
    cursor: pointer;
}


.rayisbajo{}

.rem{    background: #0a9895;
    padding: 0px 10px;
    color: white;
    cursor: pointer;}

.inputtext{border: solid 1px #d8d8d8;
    padding: 0px 15px;}
.contenbtns{margin: 10px 10px auto;
    text-align: center;}
.menus{font-size: 18px;cursor: pointer;}
.inputdel{width: 30px;
    border: solid 1px #d8d8d8;
    text-align: center}

    .inputdel2{    width: 50px;
    border: solid 1px #d8d8d8;
    text-align: center;
    font-size: 15px;}

.botonbtncont{          position: relative;
    width: 100%;
    margin-top: 25px;margin-bottom: 20px;}
.btnnetxpago{background: #021a31;
    padding: 22px;position: relative;
    color: #fff;
    font-size: 25px;}

  .btnnetxcarris{
    padding: 22px;position: relative;
    color: #fff;
    font-size: 25px;}

.azulin{color: #FEB514;font-weight: 800;font-size: 20px;}

.subtotalcont{width: 100%;}
.hrpago{height: 5px;
    background: #e6e6e6;
    margin-top: 5px;
    border: none;}

.carritoenty{    width: 34%;
    opacity: .1;}

.borderform{border-radius: 6px;
    height: 51px;
    font-size: 35px;
    background: #eceff1;
    text-align: center;}

.codigobar{max-width: 70%;margin: 0px auto;}

.carritobar{max-width: 100%;margin: 0px auto;text-align: center;}

.bold{font-weight: 700;font-size: 21px;}


.btnbotn{
    user-select: none;  
    display: inline-block;
    padding: 6px 15px;
    cursor: pointer;
    background: #00294d;
    border-radius: 10px;
    color: white;}

    .btnbotncar{    display: inline-block;
    color: white;}

.btnbotn2{    display: inline-block;
    padding: 10px;
    cursor: pointer;
    color: #8a8a8a;
    background: #eaecf4;}

    .btnbotn2:hover{display: inline-block;
    
    cursor: pointer;
    background: #fff;
    color: #3d3d3d;}
    .activecar{display: inline-block;
    
    cursor: pointer;
    background: #fff;
    color: #3d3d3d;}

    .btnbotn:hover{    
    display: inline-block;
    padding: 6px 15px;
    background: #ffb517;
    border-radius: 10px;
    color: #00294d;}

    .activecar2{font-weight: 700;
    display: inline-block;
    padding: 6px 15px;
    background: #ffb517;
    color: #00294d;}

.btnilera{display: inline-block;}

.headercont1productos::-webkit-scrollbar {
       width: 15px;
    height: 8px;
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.headercont1productos::-webkit-scrollbar-thumb {
   background: #c0c0c0;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.headercont1productos::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.headercont1productos::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
.headercont1productos::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
.headercont1productos::-webkit-scrollbar-track:hover,
.headercont1productos::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}







.contcaja{}
.seleccioncajis {
    border: solid 1px #ededed;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.selectcajis{background: #f8f8f8;}

.seleccioncajis:hover {
    background: #f8f8f8;
}

.vselect{        
    display: block;
    border: solid 1px #a6677791;
    margin-left: 10px;
    padding: 0px 10px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.coloprove {
        background-color: #dfdfff !important;
}


.totales{border: solid #d7d7d7 1px;
    padding: 10px;}
    .sidebar-dark #sidebarToggle {
    background-color: rgb(132 44 66) !important;
}

.bold2{font-weight: 600;}



input[type=textfield] {
     width: 94%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 22px;
    border: 1px solid #FEB514;
    border-radius: 1px;
    text-align: left;
    color: #333;
    background: #f7f7f7;
}
input[type=button], input[type=submit], input[type=reset] {
   background-color: #70c1c0;
    border: none;
    color: white;
    padding: 6px;
    font-size: 22px;
    min-width: 22%;
    margin: 4px 2px;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
  background-color: #FEB514;
}

.close{position: absolute;
    right: 0px;
    top: -37px;
    height: 35px;
    width: 35px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    line-height: 36px;
    box-shadow: 1px 2px 16px #0000007d;
    font-size: 25px;
    z-index: 9999;}

.botonitos{
    cursor: pointer;
    color: #ad8a70;
    font-size: 29px;
}



@media (max-width: 1000px) {

.xshiden{display: none;}
.xsmayortam{    flex: auto !important;
    padding: 0px;
    margin: 0px;
    max-width: 46.33333% !important;}
.xsmayortam2 {
  flex: auto !important;
    max-width: 24% !important;
    margin: 0px;
    padding: 0px;
}

}